*{
padding-top: 20px;
padding-bottom: 20px;

}


body{
    background-color: ivory;
    width: 100vw;
    height: 700vh;
    justify-content: center;
    font-family: verdana;
    display: flex;
    flex-direction: column;
   text-indent: 20px;
    line-height: 1px;
    font-size: large;
    white-space: nowrap;

}
